body {
  width: 100%;
  margin: 0;
  font-family: "OpenSans";
}

ul,
li {
  padding: 0;
  margin: 0;
  list-style: none;
}

@font-face {
  font-family: "OpenSans";
  src: url(../fonts/OpenSans-Bold.woff);
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "OpenSans";
  src: url(../fonts/OpenSans-Regular.woff);
  font-weight: 400;
  font-style: normal;
}

/* header */

.header {
  text-align: center;
  background-image: url(../images/banner-bg.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-color: #000000;
  min-width: 1200px;
  position: relative;
}

.header:after {
  content: "";
  background-color: #000000;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0.6;
}

.header-logo {
  width: 180px;
}

/* menu */
.menu {
  margin-top: 24px;
}

.menu-list {
  display: flex;
  flex-wrap: wrap;
}

.menu-link {
  font-weight: 400;
  font-size: 13px;
  color: #ffffff;
  text-transform: uppercase;
}

.menu-list-item {
  vertical-align: top;
  list-style-type: none;
}

.menu-list-item:nth-child(n + 2) {
  margin-left: 31px;
}

a {
  text-decoration: none;
}

.container-top {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding-top: 25px;
  margin-bottom: 120px;
}

.container {
  margin-left: auto;
  margin-right: auto;
  width: 1170px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
  z-index: 2;
  position: relative;
}

/* title */
.title {
  width: 730px;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 140px;
  text-align: center;
  font-weight: bold;
  font-size: 45px;
  line-height: 75px;
  color: #ffffff;
  text-transform: uppercase;
}

/* main-top */

.title-top {
  line-height: 0;
  text-align: center;
  margin-top: 64px;
}

.title-top::after {
  content: "";
  display: block;
  height: 3px;
  background: #e1d9bd;
  margin-top:25px;
  width: 60px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
}

.title-top a {
  text-transform: uppercase;
  color: #000000;
  font-size: 20px;
  font-weight: bold;
}

.wrapper {
  display: flex;
}

.wrapper-box {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  flex-basis: 25%;
  max-width: 25%;
  min-height: 300px;
  background-color: #000000;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 0;
}

.wrapper-box::after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #000000;
  opacity: 50%;
  z-index: -1;
}

.wrapper-box:nth-child(n+2) {
  margin-left: 6px;
}

.wrapper-box-1 {
  background-image: url(../images/trend1.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  position: relative;
  z-index: 0;
}

.wrapper-box-2 {
  background-image: url(../images/trend2.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  position: relative;
  z-index: 0;
}

.wrapper-box-3 {
  background-image: url(../images/trend3.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  position: relative;
  z-index: 0;
}

.wrapper-box-4 {
  background-image: url(../images/trend4.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  position: relative;
  z-index: 0;
}

.wrapper-items {
  text-transform: uppercase;
  color: #ffffff;
}

.items {
  display: flex;
  list-style-type: none;
  margin-bottom: 10px;
}

.items a {
  color: #b59f5b;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 14px;
}

.wrapper-info {
  display: flex;
  flex-direction: column;
  margin: 16px 22px 16px 18px;
  padding: 30px 15px 0 30px;
  border: 3px solid #a7973d;
  z-index: 1;
}

/* news */

.common-content {
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-wrap: wrap;
}

.container-main {
  width: 778px;
  padding-bottom: 70px;
}

.news {
  width: 778px;
  margin: 0;
}

.news-mine {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  width: 778px;
}

.news-mine:nth-child(n + 2) {
  margin-top: 60px;
}

.news-image {
  margin-right: 30px;
}

.image-main {
  width: 380px;
}

.news-description {
  margin: 0;
}

.news-header {
  margin: 0;
}

.category {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  margin-bottom: 15px;
  list-style-type: none;
}

.category-name {
  margin: 0;
}

.category-item {
  font-weight: bold;
  font-size: 14px;
  color: #b59f5b;
  text-transform: uppercase;
  text-decoration: none;
}

.category-name:nth-child(n + 2) {
  margin-left: 15px;
}

.news-name {
  font-weight: bold;
  font-size: 20px;
  line-height: 24px;
  color: #000;
  text-transform: uppercase;
  margin-top: 0;
}

.news-name-link {
  text-decoration: none;
  color: #0f0d0e;
}

.news-info {
  margin-bottom: 15px;
}

.news-date {
  font-weight: 400;
  font-size: 12px;
  color: #888888;
  text-transform: capitalize;
  margin-right: 15px;
}

.news-author {
  font-weight: bold;
  font-size: 12px;
  color: #000000;
  text-transform: inherit;
}

.common-content {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: space-between;
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-right: 15px;
  padding-left: 15px;
  padding-top: 64px;
}

/* sidebar */
.sidebar {
  width: 272px;
}

aside section:nth-of-type(n + 2) {
  margin-top: 60px;
}

.recent-posts {
  margin: 0;
  text-align: justify;
  font-weight: 400;
  font-size: 15px;
  line-height: 22px;
  color: #000000;
  text-transform: inherit;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  text-decoration: none;
  position: relative;
}

.recent-posts-title,
.subscribe-title,
.tags-tittle,
.categories-title {
  display: flex;
  justify-content: center;
  margin: 0;
  font-weight: bold;
  font-size: 14px;
  text-transform: uppercase;
  text-align: center;
  padding-bottom: 45px;
  text-decoration: none;
  position: relative;
}

.recent-posts-title::after,
.subscribe-title::after,
.tags-tittle::after,
.categories-title::after {
  content: "";
  display: block;
  position: absolute;
  height: 2px;
  width: 60px;
  bottom: 35px;
  left: 50%;
  margin-left: -30px;
  background-color: #b59f5b;
}

.recent-post-link {
  color: #000000;
}

.recent-post {
  height: 70px;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  margin: 0;
}

.recent-post:first-child {
  padding-top: 64px;
  height: 60px;
}

.recent-post:nth-child(n + 3) {
  margin-top: 20px;
}

.recent-post-image {
  min-width: 72px;
  min-height: 70px;
  display: flex;
  flex-wrap: wrap;
  margin-right: 15px;
}

.image-recent {
  width: 70px;
}

.recent-post-title {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: flex-start;
  margin: 0;
}

.recent-post-date {
  font-weight: 400;
  font-size: 12px;
  color: #000000;
  text-transform: inherit;
}

.recent-post-name {
  font-weight: bold;
  font-size: 14px;
  color: #0f0d0e;
  text-transform: uppercase;
  text-align: left;
  margin: 0;
}

.search {
  display: flex;
  margin-top: 60px;
  width: 100%;
}

.search-button {
  border: none;
  width: 46px;
  background-image: url(../svg/search.svg);
  background-repeat: no-repeat;
  background-size: 16px;
  background-position: center;
  background-color: #b59f5b;
  cursor: pointer;
}

.search-text-input {
  box-sizing: border-box;
  border: none;
  outline: none;
  background-color: #e9eceb;
  height: 46px;
  width: 223px;
  padding-left: 18px;
}

.search-text-input:focus {
  border: 1px solid #b59f5b;
}

input:focus {
  outline: none;
}

.search-button:hover,
.button-subscribe:hover {
  outline: 1px solid #b59f5b;
}

.subscribe {
  display: flex;
  flex-direction: column;
  margin-top: 60px;
  margin-bottom: 60px;
}

.email {
  width: 100%;
  height: 46px;
  margin-top: 23px;
  padding-left: 18px;
  box-sizing: border-box;
  border: none;
  outline: none;
  background-color: #e9eceb;
}

.button-subscribe {
  width: 100%;
  height: 48px;
  margin-top: 18px;
  border: none;
  background-color: #b59f5b;
  font-family: open-sans-bolder, sans-serif;
  text-transform: uppercase;
  color: #ffffff;
  font-size: 13px;
  cursor: pointer;
}

/* TAGS */
.tags,
.categories {
  width: 100%;
  text-decoration: none;
  color: #000000;
}

.tags-list,
.category-list {
  display: flex;
  flex-wrap: wrap;
  padding: 0px;
}

.tags-list-item {
  border: 2px solid #f4f3f1;
  padding: 5px 10px;
  margin-top: 5px;
  margin-left: 5px;
  list-style-type: none;
}

.tags-list-item:nth-child(n + 2) {
  margin-left: 5px;
}

.tags-link {
  font-family: "Open Sans", sans-serif;
  font-size: 12px;
  font-weight: bold;
  color: #0f0d0e;
  text-transform: uppercase;
  text-decoration: none;
}

/* CATEGORIES */

.num {
  vertical-align: super;
  font-family: "OpenSans" sans-serif;
  font-weight: bold;
  font-size: 12px;
  color: #b59f5b;
  margin-left: 5px;
}

.cat-link {
  font-size: 12px;
  font-weight: bold;
  color: #0f0d0e;
  text-decoration: none;
}

.categories-list {
  flex-direction: column;
}

.categories-list-item {
  padding-bottom: 15px;
  border-bottom: 1px solid #f4f3f1;
  list-style-type: none;
}

.categories-list-item:nth-child(n + 2) {
  margin-top: 15px;
}

/* FOOTER */
.footer-socials {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 70px;
  width: 1200px;
}

.socials-link {
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f4f7f6;
  margin-bottom: 70px;
}

.footer-list {
  list-style: none;
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
}

.social-link {
  display: inline-block;
  width: 24px;
  height: 24px;
  background-repeat: no-repeat;
  background-size: 20px;
  background-position: center;
}

.social-logo:nth-child(n + 2) {
  margin-left: 60px;
}

.social-list {
  position: absolute;
  width: 1px;
  height: 1px;
  clip: rect(1px, 1px, 1px, 1px);
}

.logo_dribbble {
  background-image: url(../svg/001-dribbble.svg);
}

.logo_pinterest {
  background-image: url(../svg/002-pinterest.svg);
}

.logo_tumblr {
  background-image: url(../svg/003-tumblr.svg);
}

.copyright {
  display: flex;
  justify-content: center;
  margin-top: 73px;
  font-family: "OpenSans", sans-serif;
  font-weight: bold;
  color: #999999;
  font-size: 12px;
}
